*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    /* background-color: rgb(210, 212, 219); */
    /* background: url("bg.jpg") no-repeat; */
    font-size: 2.5rem;
}

.parallax {
    /* The image used */
    
    /* background-image: url("https://source.unsplash.com/1600x900/?nature,water"); */
    background-image: url('../bg1.jpg');
    /* background-image: url("https://images.unsplash.com/photo-1530357075171-3c4b84478ebd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b930fe4c342d9dcbee9e3b3939ccbe5f&auto=format&fit=crop&w=1300&q=80"); */
    /* Set a specific height */
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 3s ease forwards 5.5s;
}

#logo path:nth-child(1){
    stroke-dasharray: 641.6480102539062;
    stroke-dashoffset: 641.6480102539062;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 285.61248779296875;
    stroke-dashoffset: 285.61248779296875;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
    stroke-dasharray: 421.8724365234375;
    stroke-dashoffset: 421.8724365234375;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4){
    stroke-dasharray: 619.2815551757812;
    stroke-dashoffset: 619.2815551757812;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5){
    stroke-dasharray: 587.010986328125;
    stroke-dashoffset: 587.010986328125;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(6){
    stroke-dasharray: 598.0211181640625;
    stroke-dashoffset: 598.0211181640625;
    animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(7){
    stroke-dasharray: 741.791748046875;
    stroke-dashoffset: 741.791748046875;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(8){
    stroke-dasharray: 741.7918090820312;
    stroke-dashoffset: 741.7918090820312;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(9){
    stroke-dasharray: 587.0112915039062;
    stroke-dashoffset: 587.0112915039062;
    animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(10){
    stroke-dasharray: 350.7234802246094;
    stroke-dashoffset: 350.7234802246094;
    animation: line-anim 2s ease forwards 2.7s;
}
#logo path:nth-child(11){
    stroke-dasharray: 693.5974731445312;
    stroke-dashoffset: 693.5974731445312;
    animation: line-anim 2s ease forwards 3.0s;
}
#logo path:nth-child(12){
    stroke-dasharray: 587.0029296875;
    stroke-dashoffset: 587.0029296875;
    animation: line-anim 2s ease forwards 3.3s;
}
#logo path:nth-child(13){
    stroke-dasharray: 299.7008361816406;
    stroke-dashoffset: 299.7008361816406;
    animation: line-anim 2s ease forwards 3.6s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: black;
    }
}